.App{

  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    margin: 200px 0;
  }

  .button {
    display: block;
    margin: 30px auto 0;
    padding: 5px 120px;
    border: none;
    background-color: #6736b1;
    color: #fff;
  }
}